img{
    display: block;
    width: 90%;
    height:90vh;
    margin: 10px auto; 
    align-items: center;
}

button{
    border: none;
    background: rgb(152, 177, 233);
    font-size: 17px;
    margin: 3px 5px;
    padding: 5px 20px;
}

.btn{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 414px){
    .slider{
        float: none;
        display: block;
    }
}
