.container{
    width: 100%;
    padding: 20px;
    height: 100%;
    background: linear-gradient(135deg, #153677, #4e085f)
}

h2{
    text-align: center;
}

.to-do{
    border-radius: 10px;
    background: #fff;
    width: 30%;
    margin: auto;
    padding: 30px 30px 60vh;
}

.inp{
    display: flex;
}

input{
    display: flex;
    width: 50vh;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    background: #edeef0;
    border: none;
    border-radius: 30px;
}

li{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    background-color:aliceblue;
    font-size: 17px;
    padding: 6px;
    list-style: none;
    user-select: none;
}

.btn {
    background-color: rgb(137, 205, 238);
    border-radius: 8px;
    margin-left: 20px;
    padding: 5px 10px 5px; 
    margin-top: 10px;
    margin-bottom: 30px;
}

button{
    background-color: rgb(137, 205, 238);
    border-radius: 10px;
    margin-left: 20px;
    padding: 7px 20px; 
}
